---
theme :
  name : twitter
---
{% include JB/setup %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %} Kay Zhu</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/pygments.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("88d770e752ea4fef460e3e27f3559bd7");</script><!-- end Mixpanel -->
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="span12 tc">
          <header>
            <a href="/" id="logo">Home Page</a>
          </header>
        </div>
      </div>

      <div class="row">
        <div class="span2">
          <ul class="nav nav-list tr" id="sidebar">
            <li><a href="/archive/">ARCHIVE</a></li>
            <li><a href="/projects/">PROJECTS</a></li>
            <li><a href="/things/">THINGS</a></li>
            <li><a href="/about/">ABOUT</a></li>
            <li><a href="/contact/">CONTACT</a></li>
          </ul>
        </div>

        <div class="span75 offset05">
          {{ content }}
        </div>

        <div class="span2">&nbsp;</div>
      </div>

      <div class="row">
        <div class="span12 tc">
          <footer>
            <p>Copyright &copy; 2012-2018 <a id="twitter" href="{{ site.author.twitter}}">{{ site.author.name }}</a></p>
          </footer>
        </div>
      </div>

    </div> <!-- /container -->

    {% include JB/analytics %}

  <script type="text/javascript">
      mixpanel.track("Page Loaded");
      $('#twitter').on('click', function() {
          mixpanel.track("Twitter!");
      });
  </script>
  </body>
</html>

